body{
    background-color:#F8F8F8!important;
}

#profile-wrapper{
    text-align:center;
}

#profile-pic{
    widows: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding: 0;
    list-style-type: lower-roman;
    display: inline-block;
}

.social{
    width:50px;
    height: 50px;
}

.social-link ul, li{
    list-style-type: none;
    display: inline-block;
}