{% load static%}

<!--
<h1>hello prajjawal</h1>
<img src="{% static 'images/prajjawal.jpg' %}">
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRAJJAWAL KUMAR PATEL</title>
    <link href ="{% static '/css/main.css/' %}" rel ="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
           <div class ="coloum-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/pa.jpg.png' %}">
                    <br>
                    <h4> Hi,I'm Prajjawal Kumar Patel!</h4> 
                    <p>I love coding!,started carrier in web development</p>
                </div>
            </div>
            <div class ="coloum-md-9">
                <div class="card card-body h-100">
                    <h4>My First job as a Developer</h4>
                    <br>
                    <p> 1 months after writing my first Hello World program on 2 july 2019 (while working in the marketing department) I had convinced my boss to let me take a stab at building a better version of the outdated laboratory management system my company was running on, </p>

                    <p> before I knew it we transitioned from the old system and we're on to mine. My newbie self was now in charge of hosting hundreds of thousend of lab samples and supporting thousends of clients.</p>

                    <p> From this is you'll see that I'm someone that jumps before I can talk myself out of doing something scary.</p>
                    <p>

                        <ul class="social-links">
                            <li><img class="social" src="{% static 'images/face.png' %}"></li>
                            <li><img class="social" src="{% static 'images/instra.png' %}"></li>
                            <li><img class="social" src="{% static 'images/twitter.png' %}"></li>

                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
           <div class ="coloum-md-6">
                <div class="card card-body h-100">
                    <h5> MY Experience as a Developer</h5>
                    <br>
                    <p>Full statck developer at FOI laboratories.</p>
                    <p>Designed, built and managed a lab management system as a sole developer.System as a sole developer.System thousends of customers with a UI for lab Admins and a custom dashboard.</p>
                </div>
            </div>
            <div class ="coloum-md-6">
                <div class="card card-body h-100">
                    <h5> What I Know</h5>
                    <br>
                    <p>Python,Django, HTML/CSS, #C,C++,React, Postgres, AWS and APIs such as google maps, Javascript Charts and a whole bunch more I can't possibly mention in one sentence! :)</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
           <div class ="coloum-md-6">
                <div class="card card-body h-100">
                    <h5> How I Learn</h5>
                    <hr>
                    <p> Reverse Engineer & Build ugly Prototypes First.</p>

                    <p> I can learn just avout anything by having a final product to tear piece.I break the code where I need to figure out why things work the way they do. Documenetation is just a reference.</p>
                </div>
            </div>
            <div class ="coloum-md-6">
                <div class="card card-body h-100">
                    <h5> My Short Term Goals</h5>
                    <hr>
                    <p> After almost two years of supporting my system at the lhe lab i'm ready to learn something new.I'll collaborating and sharing my exeperience with others on my blog(SayHelloworld.co) & facebook.</p>

                    <p> Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>
                </div>
            </div>
        </div>
        <br>
    </div>
    
</body>
</html>